
body{
  background-color: #d3d3d3;
}

h1 {
  text-align: center;
  font-size: 75px;
  padding-bottom: 0;
  margin: 0 auto;
  font-family: 'Abril Fatface', cursive;
}

div#board{
  position: relative;
  width: 440px;
  height: 440px;
  margin: 0 auto;
  border: 3px solid #36454f;
  border-radius: 10px;
}

div#messagArea{
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

/*table {
  position: absolute;
  left: 50px;
  top: 98 px;
  border-spacing: 0px
}*/

/*div table tr td.leftPostion{
  font-size: 40px;
  font-family: arial, helvetica, sans-serif;
  font-weight: 500;
}*/

.cell{
  width: 40px;
  height: 40px;
  border: 2px solid #444646;
  border-radius: 5px;
  margin: 0 auto;
  padding: 0;
  float: left;
  text-align: center;
  line-height: 70px;
  font-size: 40px;
  font-weight: bold;
  background-color: #bacbd2;
}

input {
  background-color: #6e7f80;
  border-color: #536872;
  font-size: 1em;
}

.hit {
  background: transparent url("/battleship/img/battleship.png") no-repeat center center;
}

.miss {
  background: transparent url("/battleship/img/miss.png") no-repeat center center;
}

.left,
.right {
  text-align: center;
  background-color: #708090;
  margin: 0;
  padding: 5px;
  border: 5px solid #36454f;
  border-radius: 8px;
  color: white;
  max-width: 150px;
}

.left {  float: left; }
.right { float: right; }

/*input.guessInput {
  width: 100px;
}*/
